<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoxue.haoaccount"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.haoxue.haoaccount.LauncherAct"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.haoxue.haoaccount.act.GuideAct" />
        <activity
            android:name="com.haoxue.haoaccount.act.MainAct"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haoxue.haoaccount.act.PasswordSetAct"
            android:configChanges="keyboardHidden" />
        <activity android:name="com.haoxue.haoaccount.act.AddIncomeAct" />
        <activity android:name="com.haoxue.haoaccount.act.AddOutcomeAct" />
        <activity android:name="com.haoxue.haoaccount.act.PrepayAct" />
        <activity android:name="com.haoxue.haoaccount.act.PrepayLayerAct" />
        <activity android:name="com.haoxue.haoaccount.act.DayBalanceAct" />
        <activity android:name="com.haoxue.haoaccount.act.SetAct"/>
        <activity android:name="com.haoxue.haoaccount.act.LoginAct"/>
        <activity android:name="com.haoxue.haoaccount.act.RegisterAct"/>
        <activity android:name="com.haoxue.haoaccount.act.UserInfoAct"/>
        <activity android:name="com.haoxue.haoaccount.act.TestAct" />
    </application>

</manifest>